.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #f8f8f8;
  padding: 10px 50px;
}

.welcomeTitle {
  margin-left: 40px;
}

.welcomeText {
  font-size: 24px;
  font-weight: 400;
}

.welcomeTextInfo {
  font-size: 16px;
}

.actionButtons {
  display: flex;
  gap: 12px;
}

.bagde > sup {
  color: #4a6585 !important;
  background-color: #ffd900 !important;
}

.actionButton {
  color: #4a6585;
  background-color: #e1ecf9;
  border: none;
}
